/* Font sizes */
h1,
.h1 {
    font-size: 6rem; //96px

    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h2,
.h2 {
    font-size: 4.330625rem; //69.29px

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: 4rem; //64px

    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h4,
.h4 {
    font-size: 3.929375rem; //62.87px

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 3.75rem; //60px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

h6,
.h6 {
    font-size: 3.125rem; //50px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h7 {
    font-size: 2.25rem; //36px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h8 {
    font-size: 1.969375rem; //31.51px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h9 {
    font-size: 1.875rem; //30px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h10 {
    font-size: 1.8125rem; //29px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h11 {
    font-size: 1.75rem; //28px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h12 {
    font-size: 1.72875rem; //27.66px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h13 {
    font-size: 1.5625rem; //25px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h14 {
    font-size: 1.5rem; //24px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h15 {
    font-size: 1.4375rem; //23px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h16 {
    font-size: 1.375rem; //22px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h17 {
    font-size: 1.285625rem; //20.57px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h18 {
    font-size: 1.25rem; //20px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h19 {
    font-size: 1.35875rem; //21.74px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h20 {
    font-size: 1.215rem; //19.44px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h21 {
    font-size: 1.1875rem; //19px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h22 {
    font-size: 1.153125rem; //18.45px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h23 {
    font-size: 1.125rem; //18px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h24 {
    font-size: 1.064375rem; //17.03px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h25 {
    font-size: 1rem; //16px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h26 {
    font-size: 0.875rem; //14px
}

.h27 {
    font-size: 0.75rem; //12px
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-montserrat: "Montserrat", sans-serif;
$font-poppins: "Poppins", sans-serif;

$font-body: $font-montserrat;

$font-families: (
    "montserrat": "Montserrat",
    "poppins": "Poppins",
);

@each $name, $font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}

$font-weights: 300, 400, 500, 600, 700, 800, 900;

@each $fw in $font-weights {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}
