@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header.header {
    img {
        max-width: 100%;
    }

    .header-top-bar {
        background: $darker;

        .btn {
            height: 98.85px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
        }

        .social-icon {
            padding: 8px 15px;
        }
    }

    .header-bottom-bar {
        background: $dark;

        .nav-link {
            color: $white;
            text-transform: uppercase;
            border-radius: 0;
            padding: 29.5px 53px;
            border-left: 1px solid #4e5057;
        }

        .btn {
            font-weight: 500;
            color: $white;
            border-radius: 0;
            padding: 16px;
            line-height: 1;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }
}

section.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding: 126.48px 0;

    h1 {
        font-weight: 800;
        color: $white;
        text-align: center;
        font-size: 3.75rem; //60px
        letter-spacing: -0.01em;
        line-height: 1.48;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }

        span {
            color: $primary;
        }
    }

    .subtitle {
        font-size: 1.8125rem; //29px
        text-transform: uppercase;
        color: $grey;
        font-weight: 400;
        padding-top: 50px;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }

    &.front-page {
        padding: 88.67px 0 290.19px;
    }
}

section.services {
    padding: 38px 0 64px;

    img {
        max-width: 100%;
    }

    .services__list {
        .service {
            background-color: $primary;
            background-size: 100% 100%;
            padding: 123px 68.5px 41px;
            transition: 0.5s;
            cursor: pointer;
            border-radius: 20.57px;
            text-align: center;
            position: relative;

            @include media-breakpoint-down(lg) {
                margin-bottom: 5rem;
            }

            &:hover {
                background-color: $black;
            }

            .content-container {
                min-height: 351px;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-between;

                h4 {
                    color: $white;
                    font-weight: 600;
                    font-size: 1.5625rem; //25px

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                p {
                    color: $secondary;
                    font-weight: 500;
                    font-size: 1.285625rem; //20.57px

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                .btn {
                    border-radius: 6.17px;
                    padding: 11px 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1.285625rem; //20.57px

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    position: absolute;
                    top: -60.5px;
                }
            }
        }
    }
}

section.solutions {
    img {
        max-width: 100%;
    }

    .problem-top,
    .solved-top {
        font-size: 1.4375rem; //23px
        text-align: center;
        padding: 24.9px 16px;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }

    .problem-top {
        background: $black;
        color: $white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .solved-top {
        background: $secondary;
        color: $primary;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .problem {
        background: imgUrl("problem.jpg");
        background-size: cover;
        color: $white;
        padding: 38px 60px;
        min-height: 587.8px;

        ul.problem-list {
            padding-top: 14px;

            li {
                font-size: 1.75rem; //28px
                padding: 21px 0;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }

    .solved {
        background: imgUrl("solved.jpg");
        background-size: cover;
        color: $black;
        text-align: right;
        padding: 38px 60px;
        min-height: 587.8px;

        ul.solved-list {
            padding-top: 14px;

            li {
                font-size: 1.75rem; //28px
                padding: 21px 0;
                font-weight: 500;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }
}

section.compare-slider {
    padding: 61px 0;

    .before-img,
    .after-img {
        object-fit: cover;
        height: 100%;
    }
}

footer {
    img {
        max-width: 100%;
    }

    .footer-top-bar {
        background-color: $darker;
        padding: 50px 0;

        .btn {
            padding: 19px 16px;
        }
    }

    .footer-middle-bar {
        background-color: $dark;
        padding: 87px 0 55px;

        .footer-column {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $white;
                font-size: 1.125rem;
                margin-bottom: 11px;
                text-transform: uppercase;
            }

            ul li,
            ol li,
            p {
                color: $grey;
                font-size: 1rem;
                padding: 11px 0;

                a {
                    color: $grey;
                }
            }
        }

        .social-column {
            .sub-social {
                padding: 11px 0;

                a {
                    color: $grey;
                }
            }
        }

        .description {
            font-family: $font-poppins;
            color: $white;
            text-align: center;
            font-weight: 500;
            font-size: 1.3rem; //19px
            padding: 101px 0 22px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        hr {
            background-color: $grey;
        }
    }

    .footer-bottom-bar {
        padding: 36px 0;
        background-color: $black;
    }
}
