@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header.header {
    .header-top-bar {
        background: $darker;

        .btn {
            height: 98.85px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
        }

        .social-icon {
            padding: 8px 15px;
        }
    }

    .header-bottom-bar {
        background: $dark;

        .nav-link {
            color: $white;
            text-transform: uppercase;
            border-radius: 0;
            padding: 29.5px 53px;
            border-left: 1px solid #4e5057;
        }

        .btn {
            font-weight: 500;
            color: $white;
            border-radius: 0;
            padding: 16px;
            line-height: 1;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }
}

footer {
    .footer-top-bar {
        background-color: $darker;
        padding: 50px 0;

        .btn {
            padding: 19px 16px;
        }
    }

    .footer-middle-bar {
        background-color: $dark;
        padding: 87px 0 55px;

        .description {
            font-family: $font-poppins;
            color: $white;
            text-align: center;
            font-weight: 500;
            font-size: 1.3rem; //19px
            padding: 22px 0;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        hr {
            background-color: $grey;
        }
    }

    .footer-bottom-bar {
        padding: 36px 0;
        background-color: $black;
    }
}
