@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header.header {
    img {
        max-width: 100%;
    }

    .header-top-bar {
        background: $darker;

        .btn {
            height: 98.85px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
        }

        .social-icon {
            padding: 8px 15px;
        }
    }

    .header-bottom-bar {
        background: $dark;

        .nav-link {
            color: $white;
            text-transform: uppercase;
            border-radius: 0;
            padding: 29.5px 53px;
            border-left: 1px solid #4e5057;
        }

        .btn {
            font-weight: 500;
            color: $white;
            border-radius: 0;
            padding: 16px;
            line-height: 1;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }
}

section.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding: 126.48px 0;

    h1 {
        font-weight: 800;
        color: $white;
        text-align: center;
        font-size: 3.75rem; //60px
        letter-spacing: -0.01em;
        line-height: 1.48;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }

        span {
            color: $primary;
        }
    }

    .subtitle {
        font-size: 1.8125rem; //29px
        text-transform: uppercase;
        color: $grey;
        font-weight: 400;
        padding-top: 50px;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }

    &.front-page {
        padding: 88.67px 0 290.19px;
    }
}

section.services {
    padding: 38px 0 64px;

    img {
        max-width: 100%;
    }

    .services__list {
        .service {
            background-color: $primary;
            background-size: 100% 100%;
            padding: 123px 68.5px 41px;
            transition: 0.5s;
            cursor: pointer;
            border-radius: 20.57px;
            text-align: center;
            position: relative;

            @include media-breakpoint-down(lg) {
                margin-bottom: 5rem;
            }

            &:hover {
                background-color: $black;
            }

            .content-container {
                min-height: 351px;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-between;

                h4 {
                    color: $white;
                    font-weight: 600;
                    font-size: 1.5625rem; //25px

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                p {
                    color: $secondary;
                    font-weight: 500;
                    font-size: 1.285625rem; //20.57px

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                .btn {
                    border-radius: 6.17px;
                    padding: 11px 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1.285625rem; //20.57px

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    position: absolute;
                    top: -60.5px;
                }
            }
        }
    }
}

section.areas {
    .areatop {
        padding: 4rem 0;

        @media screen and (max-width: 576px) {
            padding: 2.25rem 0;
        }

        .heading {
            font-size: 4rem;
            font-weight: 700;
            color: $white;
            letter-spacing: -0.02em;
            padding-bottom: 48px;

            @include media-breakpoint-down(sm) {
                font-size: 2rem;
            }
        }

        .sub-heading {
            font-size: 1.125rem;
            color: #3c4a5a;
            font-weight: normal;

            @media screen and (max-width: 576px) {
                font-size: 0.75rem;
            }

            a {
                color: #3c4a5a;
                font-weight: bold;

                &:hover {
                    color: $primary;
                }
            }
        }

        .alphbetwrap {
            padding: 0;

            .areas_allSearch {
                background-color: $white;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                padding: 8px 27px;
                color: $primary;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 66px;
            }

            .areas_alphabet {
                display: inline-block;
                margin-bottom: 0.5rem;
                margin-right: 0.214rem;

                .areas_alphabet_inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.05);
                    color: $white;
                    cursor: pointer;
                    font-size: 1.5rem;
                    padding: 8px;
                    height: 66px;
                    width: 66px;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: 0.35s all ease;

                    &:hover {
                        color: $primary;
                        background-color: $white;
                    }
                }

                &.active {
                    .areas_alphabet_inner {
                        background-color: $white;
                        color: $primary;
                    }
                }
            }

            .active {
                background-color: $white;
                color: $primary;
            }
        }
    }

    .areawrap {
        padding: 4.125rem 0 4.9375rem;

        @media screen and (max-width: 576px) {
            padding: 2.75rem 0;
        }

        .all-list {
            font-size: 5rem;

            @media screen and (max-width: 576px) {
                font-size: 3.125rem;
            }

            span {
                color: $black;
            }
        }

        .arealistwrap {
            .arealist {
                padding-bottom: 144px;

                .alphabet-title {
                    font-size: 6rem;
                    letter-spacing: -0.02em;
                    font-weight: 700;
                    height: 164px;
                    width: 164px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    background-color: $darker-grey;
                }

                ul {
                    margin-bottom: 0;
                    display: grid;
                    grid-template-columns: 33.33% 33.33% 33.33%;
                    grid-gap: 0 2rem;

                    li {
                        display: inline-block;
                        padding: 0.25rem 0;

                        a {
                            font-size: 1.125rem;
                            color: $grey;
                            font-weight: 500;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }

                    .show-more {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

                .areahide {
                    display: none;
                }

                .seemore {
                    color: #959595;
                    font-style: italic;
                    text-decoration: underline;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .arealisthide {
            display: none;
        }

        h2 {
            font-size: 3.6rem;
            text-align: center;
            font-style: italic;
            margin-bottom: 7rem;
        }

        .areas_loadMoreWrap {
            position: relative;
            text-align: center;
            padding: 3rem 0 1.6rem;

            a {
                font-weight: bold;
                color: $white;
                font-size: 1.2rem;
                padding: 1rem;
                width: 13.2rem;
                display: inline-block;
                text-align: center;
                border-radius: 0;
                background-color: $primary;

                &:hover {
                    background-color: $secondary;
                    color: $white;
                }
            }
        }
    }

    .areas_droplist {
        position: relative;
        z-index: 9;
    }

    .areas_droplist > .caption {
        border: 1px solid #c4c4c4;
        padding: 11px 24px;
        border-radius: 0;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0.5rem;
            top: 35%;
            border: solid $primary;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: all 0.35s ease;
        }
    }

    .areas_droplist > .list {
        position: absolute;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0 0 3px 3px;
        display: none;
    }

    .areas_droplist > .list > .item {
        padding: 11px 24px;
        background-color: #cecece;
        cursor: pointer;
    }

    .areas_droplist > .list > .item.selected {
        font-weight: bold;
    }

    .areas_droplist > .caption:hover,
    .areas_droplist > .list > .item:hover {
        background-color: $primary;
        color: #fff;
    }

    .areas_droplist.open > .caption {
        border-radius: 3px 3px 0 0;
        border-bottom: solid 1px #999;
    }

    .areas_droplist.open > .list {
        display: block;
        z-index: 99;
    }
}

section.map {
    iframe {
        height: 665px;
        width: 100%;
        margin-bottom: -6px;
    }
}
section.solutions {
    img {
        max-width: 100%;
    }

    .problem-top,
    .solved-top {
        font-size: 1.4375rem; //23px
        text-align: center;
        padding: 24.9px 16px;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }

    .problem-top {
        background: $black;
        color: $white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .solved-top {
        background: $secondary;
        color: $primary;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .problem {
        background: imgUrl("problem.jpg");
        background-size: cover;
        color: $white;
        padding: 38px 60px;
        min-height: 587.8px;

        ul.problem-list {
            padding-top: 14px;

            li {
                font-size: 1.75rem; //28px
                padding: 21px 0;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }

    .solved {
        background: imgUrl("solved.jpg");
        background-size: cover;
        color: $black;
        text-align: right;
        padding: 38px 60px;
        min-height: 587.8px;

        ul.solved-list {
            padding-top: 14px;

            li {
                font-size: 1.75rem; //28px
                padding: 21px 0;
                font-weight: 500;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }
}

section.suburb {
    background: $white;
    padding: 114px 0 45px;

    .heading {
        color: $darker-grey;
        font-weight: 700;
        font-size: 4rem;

        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        }
    }

    .suburb-description-card {
        padding: 75px 0;

        .sub-heading {
            color: $primary;
            letter-spacing: -0.02em;
            font-size: 2.25rem;
            font-weight: 700;
            padding-bottom: 41px;
        }

        p {
            color: $grey;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.67;

            @include media-breakpoint-up(xxl) {
                padding-right: 100px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }
    }
}

section.faq {
    padding: 64px 0;
    background: rgba(40, 41, 45, 0.04);

    .heading {
        letter-spacing: -0.02em;
        font-weight: 700;
        font-size: 2.25rem;
        color: $black;
    }

    @include media-breakpoint-up(lg) {
        padding: 112px 0;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .accordion-card {
        margin: 35px 0;
    }

    .accordion-container {
        width: 100%;
    }

    .accordion-head {
        background-color: $white;
        color: $dark;
        cursor: pointer;
        font-weight: 600;
        text-transform: capitalize;
        padding: 1rem;
        transition: 0.2s all;
        font-size: 1.125rem;
        align-items: center;
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem; // 24px
            padding: 32px 23px;
        }

        &.active {
            background-color: $jet-black;
            color: $white;
        }

        .main-question {
            @include media-breakpoint-down(sm) {
                max-width: 95%;
            }
        }
    }

    .accordion-body {
        background: $darker-grey;
        display: none;
        padding: 24px 1rem;

        p {
            line-height: 2;
            color: $light;
            font-size: 1rem; // 16px

            @include media-breakpoint-up(md) {
                font-size: 1.125rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        @include media-breakpoint-up(md) {
            padding: 34px 24px;
        }
    }
}

section.quick-contact {
    padding: 114px 0 132px;

    .quick-contact-main {
        background: $primary;
        padding: 55.5px 16px 43px;

        .heroHeading, .subHeading {
            font-weight: 700;
            letter-spacing: -0.02em;
            color: $white;
            text-align: center;
            line-height: 1.111;
        }

        .heroHeading {
            font-size: 3.929375rem;
        }

        .subHeading {
            font-size: 1.72875rem;
            padding-top: 12px;
        }

        .btn {
            color: $white;
            border-radius: 0;
            padding: 24px 16px;
            letter-spacing: -0.02em;
            font-weight: 700;
            font-size: 1.25rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }
    }
}

section.compare-slider {
    background: rgba(40, 41, 45, 0.04);
    padding: 61px 0;

    .before-img,
    .after-img {
        object-fit: cover;
        height: 100%;
    }
}

footer {
    img {
        max-width: 100%;
    }

    .footer-top-bar {
        background-color: $darker;
        padding: 50px 0;

        .btn {
            padding: 19px 16px;
        }
    }

    .footer-middle-bar {
        background-color: $dark;
        padding: 87px 0 55px;

        .footer-column {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $white;
                font-size: 1.125rem;
                margin-bottom: 11px;
                text-transform: uppercase;
            }

            ul li,
            ol li,
            p {
                color: $grey;
                font-size: 1rem;
                padding: 11px 0;

                a {
                    color: $grey;
                }
            }
        }

        .social-column {
            .sub-social {
                padding: 11px 0;

                a {
                    color: $grey;
                }
            }
        }

        .description {
            font-family: $font-poppins;
            color: $white;
            text-align: center;
            font-weight: 500;
            font-size: 1.3rem; //19px
            padding: 101px 0 22px;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        hr {
            background-color: $grey;
        }
    }

    .footer-bottom-bar {
        padding: 36px 0;
        background-color: $black;
    }
}
